<fieldset>
    <legend align="center">Create book</legend>
    <label for="name">Title: </label><input type="text" id="name"><br>
    <label for="author">Author: </label><input type="text" id="author"><br>
    <label for="isbn">ISBN: </label><input type="text" id="isbn"><br>
    <button type="button" id="create-book">Create</button>
</fieldset>
<div id="books-container">
    <ul>
        {{#books}}
        <li class="book" book-id={{_id}}>
            <div>Title: {{name}}</div>
            <div>Author: {{author}}</div>
            <div>ISBN: {{isbn}}</div>
            <button class="delete">Delete</button>
            <button class="edit">Edit</button>
        </li>
        {{/books}}
    </ul>
</div>