<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link rel="stylesheet" href="style.css">
    <script src="../jquery.js"></script>
    <script src="../mustache.js"></script>
</head>
<body>
    <div id="wrapper">
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="job-title" placeholder="Job Title">
        <input type="url" id="website" placeholder="Website">
        <button id="button" type="button">Submit</button>
        <div id="msg"></div>
        <button id="list" type="button">Show persons</button>
        <div id="table"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>